/* please disable the Nunito sans font and embed the font I placed in app/www/ folder.
   and change the font-family name accordingly */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

/* @font-face {
  font-family: 'Proxima_Nova';
  src: url('proximanova-medium-webfont.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


*/

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}
.box-title {
  font-weight: 700;
}
#splash_panel {
  background-color: #FFF !important;
  opacity: 1;
  text-align: center;
  padding-top: 15%;
  padding-right: 20%;
  padding-left: 30%;
  color: #000 !important;
}
.skin-blue .main-header .logo {
  height: 100% !important;
}
.skin-blue .main-sidebar{
  padding-top: 60px;
}
.btn-default{
  background-color: #0072BC !important;
  border-radius: 4px !important;
  color: #FFF !important;
  border-color: transparent;
}
.btn-default:hover{
  background-color: #1274b5 !important;
}
.bootstrap-select>.dropdown-toggle{
  background-color: #fff !important;
  color: #000 !important;
}
.skin-blue .main-sidebar .sidebar .sidebar-menu .active > a:hover{
  background-color:#0072BC !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span{
  display: none;
  -webkit-transform: translateZ(0);
}
.sidebar-mini.sidebar-collapse .main-sidebar{
  transform: translate(0,0);
  width: 50px!important;
  z-index: 850;
}
/* Small devices (portrait phones) */
@media screen and (max-width: 576px) {
.skin-blue .main-sidebar{
  padding-top: 0;
}
.main-sidebar, .left-side{
  webkit-transform: translate(0%, 0);
  -ms-transform: translate(-17%, 0);
  -o-transform: translate(-17%, 0);
  transform: translate(0%, 0);
}
}


/* Medium devices (landscape phones) */
@media screen and (min-width: 577px) and (max-width: 768px) {
.skin-blue .main-sidebar{
  padding-top: 0;
}
.main-sidebar, .left-side{
  webkit-transform: translate(0%, 0);
  -ms-transform: translate(-17%, 0);
  -o-transform: translate(-17%, 0);
  transform: translate(0%, 0);
}
}

/* Large devices (tablets and desktops) */
@media screen and (min-width: 769px) {

}
